<div class="activity">
  <h1 class="activity__headline">Activity</h1>
  <div class="activity__main">
    <div class="activity__search">
      <img
        class="activity__search__img"
        src="../../../../assets/images/glass.svg"
      />
      <input class="activity__search__input" type="text" placeholder="Search" />
    </div>
    <div class="activity__info">
      <app-first-activity></app-first-activity>
      <app-second-activity></app-second-activity>
      <app-third-activity></app-third-activity>
      <app-fourth-activity></app-fourth-activity>
      <app-fifth-activity></app-fifth-activity>
    </div>
  </div>
</div>
