/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
}
@font-face {
  font-family: "Actor";
  src: url("./assets/fonts/Actor-Regular.ttf");
}
@font-face {
  font-family: "Proxima";
  src: url("./assets/fonts/ProximaNova-Regular.ttf");
}
@font-face {
  font-family: "Proxima-Bold";
  src: url("./assets/fonts/ProximaNova-Bold.otf");
}
